body {
    background-color: beige;
}
#h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

ul {
    list-style-type: none;
    background-color: darkolivegreen;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}

li a {
    display: block;
    padding: 20px 18px;
    background-color: darkolivegreen;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

li a:hover {
    background-color: black;
    color: white;
}

.parent {
    display: flex;
    flex-direction: row;
}

.leftpart {
    width: 30%;
    height: 100vh; 
}

.rightpart {
    flex-grow: 1;
    height: 100vh;
}

