body {
    background-color: beige;
}
#h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.navi {
    list-style-type: none;
    background-color: darkolivegreen;
    overflow: hidden;
    margin: 0;
    padding: 0;
} /* I put a class because if I use ul, it will affect other parts*/
.subnav {
    float: left;
} /*Here is the same reason as above. I can't use li because I use li on other parts as well*/

li a {
    display: block;
    padding: 20px 18px;
    background-color: darkolivegreen;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

li a:hover {
    background-color: black;
    color: lightgreen;
}



.parent {
    display: flex;
    flex-direction: row;
} /*This style is the parent part of the website*/

.leftpart {
    width: 40%;
    height: 100vh; 
} /*This is the left side of the website*/

.rightpart {
    flex-grow: 1;
    height: 100vh;
} /*This is the right side*/

.hobby {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: saddlebrown;
}

.box {
    border: 2px solid white;
}

.footer {
    height:25px;
    left:5px;
    right:5px;
    bottom:5px;
    font-size:13px;
    color:black;
    position:fixed;
}

